<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../public/styles/style.css">
    <link rel="stylesheet" href="./../public/assets/bootstrap5/css/bootstrap.css">
    <script type="module" defer src="./../scripts/dist/DOM/gallery.js"></script>
    <title>{User} Gallery</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Gallery</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" href="./signUp.html">Sign Up</a>
                    <a class="nav-link active" href="#" id="log-out">Log Out</a>
                    <a class="nav-link active" href="#" data-bs-toggle="modal" data-bs-target="#add-image">Add Image</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">

        <div class="gallery-container">
            <div class="gallery">
            </div>
        </div>
    </div>

    <div class="modal fade" id="add-image" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="add-image-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add-image-label">Add Image</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="file" name="image-file" id="image-file">
                    <p id="message" style="display:block;"></p>
                    <div id="image-placeholder"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="./../public/assets/bootstrap5/js/bootstrap.min.js"></script>
</body>

</html>